spinner {
    color: #ee4035;
}

/* Library page */
flowbox flowboxchild {
    padding: 6px; /* default is 4px */
    border-radius: 12px; /* default is 6px */
}
flowbox flowboxchild:selected {
	background-color: @accent_bg_color;
}

.library-thumbnail-name-label {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-shadow: -1px 1px 0 #444, 1px 1px 0 #444, 1px -1px 0 #444, -1px -1px 0 #444;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    padding: 20px 8px 4px 8px;
}

.library-thumbnail-badge-unread-chapters {
    background-color: @blue_3;   /* #3584e4 */
}
.library-thumbnail-badge-downloaded-chapters {
    background-color: @purple_3; /* #9141ac */
}
.library-thumbnail-badge-recent-chapters {
    background-color: @green_4;  /* #2ec27e */
}

/* Manga card page */
listview :last-child {
    border-bottom: none;
}

.badge {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
    padding: 0 1em;
    border-radius: 6px;
}

.synopsis-label {
    line-height: 1.25;
}

/* Reader page */
carousel slider {
    background-color: #ee4035;
}

.reader-page-number-indicator-label {
    color: #fff;
    letter-spacing: 3px;
    /* bordered text */
    text-shadow: 1px 0px 0px #000, -1px 0px 0px #000, 0px 1px 0px #000, 0px -1px 0px #000;
    font-weight: bold;
    margin-bottom: 8px;
}

.background-black {
    background-color: rgba(0, 0, 0, 1);
}
.background-gray {
    background-color: rgba(36, 36, 36, 1);
}
.background-white {
    background-color: rgba(250, 250, 250, 1);
}

/* Explorer page */
.explorer-listboxrow {
    padding: 16px 12px;
}

.explorer-section-listboxrow {
    padding: 12px;
    font-weight: bold;
    background: @headerbar_bg_color;
    color: @headerbar_fg_color;
}

/* Download manager page */
.download-manager-download-listboxrow {
    border-bottom: 1px solid @borders;
    padding: 6px 6px 12px 6px;
}

/* History page */
.history-rounded-cover-frame {
    border-radius: 6px;
}
